BOOKS project 

Raged abou


part 1 Design ERD

![image.png](books.png)

PART 2

In [43]:
#Importing pandas as pd
import pandas as pd

#Importing PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

#Importing SQL ALchemy
from sqlalchemy import create_engine

#Importing libraries to create database
from sqlalchemy_utils import create_database, database_exists
#connecting to SQL server with PyMySQL and SQLAlchemy

#connection = 'dialect+driver://username:password@host:port/database
connection = 'mysql+pymysql://root:Ve16874905@localhost/bookss'

In [44]:
engine = create_engine(connection)

In [45]:
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

In [51]:
users =pd.read_csv("https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users")
users.head(3)

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [52]:
books= pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
books.head(3)

   id             title  author_id
0   1       The Shining          1
1   2                It          1
2   3  The Great Gatsby          2

In [53]:
authors= pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
authors.head(4)

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen

In [56]:
favorites= pd.read_csv("https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite")
favorites.head(3)

   user_id  book_id
0        1        1
1        1        2
2        1        3

In [57]:
#Convertng dataframes to tables in the database created earlier.
books.to_sql('books', engine, if_exists ="replace")

authors.to_sql('authors', engine, if_exists ="replace")

favorites.to_sql('favorites', engine, if_exists ="replace")

users.to_sql('users', engine, if_exists ="replace")

In [58]:
#Viewing all tables in the database
q ="""SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_bookss
0          authors
1            books
2        favorites
3            users